.logo
{
    width:30px;
    height:35px;
    margin-top:-5px;
}
body
{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-default{
  transition:500ms ease;
  background-color:transparent !important;
       color: #000000!important;
    border:none !important;
    z-index: 100;
    min-height:52px !important;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}

.navbar-brand span
{
     font-family: 'Francois One', sans-serif;
   font-size:22px;
    color:#000000;
    
}

#myTopnav
{
    padding-left:250px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
.navbar-nav>li a
{
    color:#000000 !important;
       font-family: 'Francois One', sans-serif;
     font-size:18px;
    margin:0px 3px;
    line-height:29px;
    font-weight:400;
}
 .navbar-nav>li a:hover
{
    color:#000000 !important;
       font-family: 'Francois One', sans-serif;
    border-bottom:2px solid #f72f25;
}
#borderimg1 { 
  border: 10px solid transparent;
  padding: 15px;
   border-image: url(../images/border.png) 20% round;
}
#borderimg2 { 
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../images/border.png) 40 stretch; /* Opera 11-12.1 */
  border-image: url(../images/border.png) 30 stretch;
}
.buttonsign {
  background-color:#f72f25;
  border: none;
  color: white;
    border-radius:5px 20px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'Francois One', sans-serif;
}
.buttonexplore {
  background-color: #f72f25;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'Francois One', sans-serif;
}

.bgimage
{
    max-width:700px;
    width:100%;
}
.main
{
    padding-top:80px;
   
}
.main h1
{
  font-family: 'Francois One', sans-serif;
    line-height:60px;
    font-size:30px;
    letter-spacing: 0.5px;
}
.container1
{
    padding:10px 50px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.tb-pass-card::before {
    position: absolute;
    content: '';
    top: 0;
    right: 12px;
    bottom: 0;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 10px 0 0 10px;
}
/*----fadein fadeout text--*/
@keyframes fadeInRight {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(10%, 0%, 0);
    transform: translate3d(10%, 0%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.first {
 
  opacity: 0; 
 
  animation: fadeInRight 1s ease-in-out 0s forwards;
    
}
 
  &.first {
    animation-delay: 1s;
  }

/*----fadein fadeout text--*/



@media only screen and (max-width: 600px) {
    .main h1
{
  font-family: 'Francois One', sans-serif;
    line-height:40px;
    font-size:25px;
    letter-spacing: 1px;
}
}